.todo {
    padding: var(--input-padding);
    background: var(--color-bg-card);
    border-bottom: 1px solid var(--color-secondary);
    display: grid;
    grid-template-columns: auto max-content 1fr;
    align-items: center;
    user-select: none;
    height: 84px;
}

.todo span {
    text-align: left;
    margin: 0 24px;
}
.todo__button {
    margin-left: auto;
}
.todo__text-compleate {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    transition: all 0.1s ease-in-out;
    color: var(--color--text);
}
