.info-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--color--text);
    background: var(--color-bg-card);
    align-items: center;
}
@media (max-width: 500px) {
    .info-container {
        display: flex;
        flex-direction: column;

        padding: 2px 4px;
        font-size: 14px;
        color: var(--color--text);
        background: var(--color-bg-card);
    }
    .info-filter__button {
        text-align: center;
        /* padding: 4px 16px; */
        transition: border 5s ease;
        border-radius: 4px;
        margin: 4px 8px;
        /* border: 1px solid var(--color-accent); */
        transition: all 0.3s ease, box-shadow 0.05s linear;
    }
}
