.info-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--color--text);
    background: var(--color-bg-card);
    align-items: center;
}
