.todos {
    --input-padding: 16px 24px;
    background: var(--color--text);
    box-shadow: 5px 9px 28px var(--color--text);
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todos__input-text {
    display: flex;
    align-items: center;
    padding: var(--input-padding);
    border-bottom: 1px solid var(--color-secondary);
    background: var(--color-bg-card);
}

.todos__empty {
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    color: #e7dad9;
    background: var(--color--text);
}
/* //-------------- */
.todo-animation-in {
    animation: fadeIn 1s forwards;
}

.todo-animation-enter {
    opacity: 1;
}

.todo-animation-out {
    animation: fadeOut 0.3s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
