.todos {
    --input-padding: 16px 24px;
    background: var(--color--text);
    box-shadow: 5px 9px 28px var(--color--text);
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todos__input-text {
    display: flex;
    align-items: center;
    padding: var(--input-padding);
    border-bottom: 1px solid var(--color-secondary);
    background: var(--color-bg-card);
}

.todos__empty {
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    color: #e7dad9;
    background: var(--color--text);
}

.todo-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.todo-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.todo-exit {
    opacity: 1;
    transform: translateY(0);
}

.todo-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}
