input {
    all: unset;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
input:focus {
    color: var(--color-bg-card);
    background: var(--color--text);
}
.input-container {
    --size-input: 40px;
    --color-icon-complete: green;
    --color-icon-delete: red;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container input:checked {
    background-color: #000;
}

.input-text {
    width: 100%;
    padding: var(--input-padding);
}
.input-checkbox__icon {
    position: relative;
    width: var(--size-input);
    height: var(--size-input);
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
    cursor: pointer;
}
.input-checkbox__icon svg {
    position: absolute;
    top: -2px;
}

.input-compleate-wrap {
    display: inline-block;
}
.todos__icon-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.todos__icon-add-active {
    opacity: 1;
}
