.todo {
    padding: var(--input-padding);
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    user-select: none;
    align-items: center;
}
.todo :first-child {
}
.todo span {
    margin-left: 24px;
}
.todo__button {
    margin-left: auto;
}
.todo__text-compleate {
    text-decoration: line-through;
    text-decoration-thickness: 2px;

    color: var(--color--text);
}
